body{
  min-height: 100vh;
  background: rgb(181, 218, 255);
}
.icon{
  background: linear-gradient(to right, #1e9678, #645deb, #dd438d, #f07c24);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
/*  ============================================= nav menu =============================================  */

.nav-list{
  list-style-type: none;
  padding: 0;
  line-height: 2;
}
.nav-list a{
  text-decoration: none;
  color: rgb(87, 170, 248);;
  cursor: pointer;
}
.nav-list a:hover{
  color: var(--lighter-color);
}
#name{
  color: rgb(87, 170, 248);
  text-decoration: none;
  font-weight: var(--semi-bold);
}
header{
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white
}
.whole-nav{
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu{
  position:fixed;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.close-icon{
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}
.nav-icon{
  cursor: pointer;
}
.moon-icon{
  cursor: pointer;
}

.Nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-links{
  display: flex;
  justify-content: space-around;
}
.nav-links h4{
  margin: 0 2rem
}
#logo{
  margin: 1rem 0 0.5rem;
}
a{
  text-decoration: none;
}
/* ===================================== Home Section ========================================= */
.home-container{
  position: absolute;
  width:100%;
  top: 10%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home-title{
  background: linear-gradient(to right, #1e9678, #645deb, #dd438d, #f07c24);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#home-left, #home-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sub-text{
  margin: 0.4rem 0;
  color: var(--main-color);
  font-size: 1.8rem;
  text-align: center;
}
#img-div{
  margin: 0 0 0.5rem;
}
#main-img{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  object-fit: cover;
}
#home-content h1{
  color: var(--main-color);
  margin-bottom: 7px;
  font-size: 1.85rem;
  font-weight: bolder;
}
#home-content h3{
  margin: 0;
  color: var(--text-light);
  font-size: var(--h3-font-size);
}
#arrow-icon{
  text-align: center;
  padding-bottom: 2rem;
}
#arrow-icon a{
  cursor: pointer;
}
.links{
  list-style-type: none;
  display: flex;
  padding: 0 0.2rem 1rem 0;
}
.links .bx{
  margin: 0.3rem 0.7rem;
  font-size: 2rem;
}
#hashtags{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 1rem 1.5rem
}
#hashtags li{
  margin: 0.1rem 0.3rem;
  font-size: 1.4rem;
  color: var(--text-light)
}
/* .first-text{
  position: relative;
} */
.text.sec-text:before{
  content: "";
  position:absolute;
  top:0;
  left:0;
  /* height: 100%;
  width: 100%; */
  background-color: var(--background-color);
  border-left: 2px solid var(--lighter-color);
  animation: animate 4s steps(12) infinite;
}

.container-clouds{
  position: relative;
  overflow: hidden;
  width: 100%;
  height:100vh;
  z-index: -100%;
}
.clouds{
  position: relative;
  display: flex;
}
.small{
  width: 3rem;
  height: 3rem;
}
.medium{
  width: 5rem;
  height: 5rem;
}
.large{
  width: 8rem;
  height: 8rem;
}
@keyframes animateClouds{
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
.cloud-start1{
  position: absolute;
  top: 3rem;
}
.cloud-start2{
  position: absolute;
  top: 7rem;
}
.cloud-start3{
  position: absolute;
  top: 15rem;
}
.cloud-start4{
  position: absolute;
  top: 20rem;
}
.cloud-middle1{
  position: absolute;
  top: 24rem;
}
.cloud-middle2{
  position: absolute;
  top: 28rem;
}
.cloud-middle3{
  position: absolute;
  top: 32rem;
}
.cloud-middle4{
  position: absolute;
  top: 36rem;  
}
.cloud-end1{
  position: absolute;
  top: 40rem;
}
.cloud-end3{
  position: absolute;
  left: 20rem;
  top: 18rem;
}
.cloud-end4{
  position: absolute;
  top: 12rem;
}
.speed1{
  animation: animateClouds 15s linear infinite;
}
.speed2{
  animation: animateClouds 20s linear infinite;
}
.speed3{
  animation: animateClouds 30s linear infinite;
}
.speed4{
  animation: animateClouds 35s linear infinite;
}
.speed5{
  animation: animateClouds 40s linear infinite;
}
.speed6{
  animation: animateClouds 45s linear infinite;
}
.speed7{
  animation: animateClouds 50s linear infinite;
}
@keyframes animateClouds{
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}